<body>
    <body>
        <form action="/users/create-session" method="POST">
            <input type="email" name="email" id="" placeholder="Enter email">
            <input type="password" name="password" id="" placeholder="Enter Password">
            <input type="submit" value="Sign up">
        </form>
    </body>
</body>